html, body {
    padding: 0;
    margin: 0;
   
}
h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: white;
}

/* Navigation Links */
/* -----------------*/

.background-hero {
    width: 100%;
    height: 100%;
    position: absolute;
    }

@media only screen and (max-width: 1200px) {
.background-hero {
    width: 100%;
    height: 100%;
    position: absolute;
    }
} 

.hero-mers {
    background: url("Images/6044438.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.hero-index {
    background-image: url("Images/1487538.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

#link-outer-div {
    text-align: center; 
    width: 100%;
    display: inline-block;
}
.link-inner-div {
    width: 25%;
    float: left;
}
.link-inner-div:after {
    clear: both;
}

/* -----------------*/

#link-style {
    color: orange;
    text-decoration: none;
    width: 100%;
    height: 100px;
    transition: 2s;
}

.botton-text-relax {
    padding: 16px 32px;
    text-align: center ;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 1s;
    cursor: pointer;
} 

.botton-text-speed {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 1s;
    cursor: pointer;
} 

.mers-botton-style {
    background-color: black;
    color: white;
    border: 2px solid red;
}
.mers-botton-style:hover {
    background-color: white;
    color: black;
}
.bmw-botton-style {
    background-color: black;
    color: white;
    border: 2px solid red;
}
.bmw-botton-style:hover {
    background-color: white;
    color: black;
}
.div-style {
    text-align: center;
    padding-left: 60px;
}

/*About mers*/



/*About bmw*/

.intro {
    max-height: 100vh;
    max-width: 100vw;
}
.titlee{
    z-index: 99999;
}
.intro:after {
    content: "";
    display: block;
    width: 100%;
    height: 120%;

    background-color: rgba(0, 0, 0, .6);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 32;
    overflow: hidden;
    
    color: red;
}
.video-media {
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 1200px) {
    .video-media {
        width: 100%;
        height: auto;
    }
}

.container video {
    position: relative;
    z-index: 0;
}
.botton-homepage-speed::after {

color: white;

    position:relative;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}